.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.completed {
text-decoration-line: line-through;
  opacity: 0.6;
}
h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.todoHead {
  margin-top: 6%;
}
.todo {
  margin-top: 3%;
}
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.notCompleted {
  text-decoration: none;
  opacity: 1.0;
}
.list-style {
  list-style-type: none;
  border: 1px solid rgb(219, 219, 219);
  height: 2em;
  font-family: sans-serif;
}
.del-style {
  float: right;
  height: 100%;
}
.center {
  margin: auto;
  justify-content: center;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
